#welcome_title {
    font-size: 40px;
    margin-top: 50px;
}

#categories {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: [first] 50% [line2] 50%;
}

.category_container {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.category_header {
    font-weight: bold;
    font-size: 20px;
}

.art-link {
    text-decoration: none;
    font-size: 18px;
    color: #2471a3;
}