body {
    font-family: monospace;
    margin: 0;
    background-image: url(sky.png), linear-gradient(to top right, #f8b58a, #ee7e6e);
    background-repeat: no-repeat;
}

#content {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    background-color: #e74731;
    background-size: 950px;
    border: 2px solid black;
    color: white;
    margin-bottom: 50px;
    font-size: 15px;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 2px 9px 2px rgba(0,0,0,0.5); 
box-shadow: 0px 10px 13px -7px #000000, 3px 2px 9px 2px rgba(0,0,0,0.5);
}



#header h1 {
    font-size: 35px;
}

#header {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
}

#datum {
    text-align: center;
    font-size: 16px;
    margin: -5px;
}

#bild {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#frame {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    border: 4px solid black;
}

#text {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    text-align: justify;
}

#author {
    font-weight: bold;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
}

#end {
    margin: 0;
}