#main_image {
    width: 70%;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 40px;
}

#text {
    text-align: left;
    font-size: 19px;
}

.fractal_images {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.fractal {
    border: 2px solid black;
    margin: 4px;
}

#content {
    padding-bottom: 30px;
}